.box1 {
    background-color: #340646;
    height: 90px;
}

.redes {
    font-size: 40px !important; 
    color: white; 
}

.box2 {
    background-color: #2b063a; 
    height: 60px;
}

.textos {
    color: white;
}